@media only screen and (max-width: 1024px){
.desktop-navigation{
  display: none;
}
}

.image-bg-background{
  border-top-right-radius:  50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}